{{define "title"}}Home | Science As Code (SAC){{end}}

{{define "content"}}
<div class="home-container">
    <section class="site-intro">
        <h2>Science As Code (SAC)</h2>
        <p>
            <strong>SAC</strong> is a space where scientific topics can be broken down using small <strong>byte</strong>-sized code. 
            The target audience of this platform are engineers who want to understand a scientific concept or process, though all are welcome.</p>
        <p> 
            Often when explaining something complex, the biggest hurdle is the medium used to communicate it.
            Here we use types, functions, methods, interfaces, imports and even code comments to explain science.
            If there's one thing engineers become good at, its reading other engineer's code. Lets make code <strong>our</strong> medium.
        </p>
    </section>

    <section class="get-started">
        <h2>Get Started</h2>
        <p>To begin exploring, navigate to <a href="/">Science</a>.</p>
    </section>
</div>
{{end}}